*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body,button,input,select,textarea{
  font-family: 'Heebo', sans-serif;
}
body{
  background-color: #f7f7f7;
}

header{
  background-color:fff;
  width:80px;
}

#navbar{
  display: flex;
  padding:0 2rem;
  max-width:1200px;
  margin: 0 auto;
  justify-content: space-between;
  width 80px;
  
}

.navBrand{
  text-decoration:none;
  font-size:1.5rem;
  font-weight:700;
  color:black;
}

.navList{
  list-style:none;
  display:flex;
  align-items:center;
  gap:31px;
}

.nav-item a {
  text-decoration:none;
  color:black;
  font-size:20px;
  font-weight:600;
}

.nav-item a:hover{
  color:red;
  transition:color 0.3s;
}
 main{
   margin-top:6rem;
 }

#banner{
  display:flex;
  max-width:1200px;
  padding:0 2rem;
  margin:0 auto;
  justify-content:space-between;
}

.nome{
  font-size:44px;
  font-weight:700;
  line-height:60px;
  margin-bottom:40px;
}

.descricao{
  font-size:16px;
  font-weight:600;
  line-height:24px;
  max-width:500px;
  margin-bottom:38px;
}

img{
  border-radius:50%;
  width:100%;
  max-width: 244px;
}

@media (max-width:920px){
  #banner{
    flex-direction:column-reverse;
    align-items:center;
    gap:2rem;
  }
  .banner-content{
    text-align:center;
  }
}

#posts{
  margin-top:71px;
  background-color:#edf7fa;
}

.posts-content{
  max-width:1200px;
  padding:0 2rem;
  margin: 0 auto;

}

.posts-header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:2rem;
}

.titulo{
  font-size:22px;
  font-weight:500;
}

.view{
  text-decoration:none;
  color:#013a67;
  font-weight: 500;
}

.cards{
  display:flex;
  gap:2rem;
  margin-bottom: 2rem;
}

.post-card{
  background-color:white;
  padding:24px;
  
}
.post-card h3{
  font-size:26px;
  font-weight: 700;
  margin-bottom:26px;
}

.post-card span{
  font-size:18px;
  font-weight: 400;
  margin-bottom:24px;
  display:block;
}
 @media (max-width:740px){
   .cards{
     flex-direction:column;
   }
 }
